@model List<ClinicaVeterinaria.Models.BanhoTosa>
<div style="margin-top: 20px; padding:20px">
       <div class="row">
            <div class="col-md-12" style="text-align:center">
                <label style="font-size:50px; font-family:fantasy">Banho e tosa</label>
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bichinho</th>
                <th scope="col">Responsável</th>
                <th scope="col">Horário</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          @foreach (var banhotosa in Model)
            {
                <tr>
                    <th scope="row">@banhotosa.Id</th>
                    <td>@banhotosa.Bichinho.Nome</td>
                    <td>@banhotosa.Data</td>
                    <td><a href="@Url.Action("AlterarBanhoTosa", "BanhoTosa", new { id = banhotosa.Id })" class="btn btn-dark">Alterar</a></td>
                    <td><a class="btn btn-dark">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

